<html>
  <head>
    <style>
      body {
        background: <%= @color %>;
      }
    </style>
  </head>
<body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      You have <%= number_of_guesses %> guesses
      <br></br>
      <%= message %>
    </p>
</html>
